<app-header></app-header>
<router-outlet></router-outlet>
 <!-- <app-trip-itnery></app-trip-itnery> -->
<!--<app-trip-itnery-bangkok></app-trip-itnery-bangkok>
<app-trip-itnery-newyork></app-trip-itnery-newyork>
<app-trip-itnery-paris></app-trip-itnery-paris> -->
<!-- <app-footer></app-footer> -->
 <!-- <app-trip-itinery-form></app-trip-itinery-form> -->
  <!-- <app-favorites></app-favorites> -->
 <!-- <app-destination></app-destination> -->
  <!-- <app-resgister-form></app-resgister-form> -->
   <!-- <app-review-form></app-review-form> -->
<!-- <app-groups></app-groups> -->